@font-face {
    font-family: Netflix-Regular;
    src: url('../fonts/NetflixSansRegular.ttf');
}

@font-face {
    font-family: Netflix-Black;
    src: url('../fonts/NetflixSansBlack.ttf');
}

@font-face {
    font-family: Netflix-Bold;
    src: url('../fonts/NetflixSansBold.ttf');
}

@font-face {
    font-family: Netflix-Medium;
    src: url('../fonts/NetflixSansMedium.ttf');
}


:root{
    --vermelho:#E50914;
    --preto:#141414;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box
}

body{
    background-color: var(--preto);
    font-family: 'Netflix-Regular', Times, serif;
    color: #fff;
}

a{
    text-decoration: none;
}

.container{
    padding: 0 30px;
}

header .container{
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    padding: 15px 30px;
}

.logo{
    color: var(--vermelho);
    font-family: 'Netflix-Bold';
    text-transform: uppercase;
    margin-right: 20px;
}

.container nav a{
    color: rgba(255, 255, 255, 0.9);
    margin-left: 15px;
    transition: .5s;
}

.container nav a:hover{
    color: rgba(255, 255, 255, 0.6);;
}

/* ----- FILME PRINCIPAL ----- */

.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)100%), url('../img/capa-house.jpg');
    background-size: cover;

    height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .container{
    width: 60%;
}

.titulo{
    margin-top: 15%;
    margin-bottom: 15px;
    font-size: 40px;
}

.buttons{
    margin-top: 40px;
}

.btn{
    border: none;
    padding: 10px 30px;
    font-size: 1rem;
    font-family: 'Netflix-Medium';
    margin-right: 10px;
    cursor: pointer;
}

.btn i{
    margin-right: 5px;
}

.btn:nth-child(1){
    background: #fff;
}

.btn:nth-child(2){
    background: rgba(255, 255, 255, 0.4);
    color: #fff;
}

.film-carousel{
    margin-top: 10px;
}

.img-item{
    width: 100%;
    height: 100%;
    display: block;
}

.owl-dots{
    display: none!important;
}